body {
  background-color: #992222;
  color: #ffff00;
  font-family: Verdana, serif;
}

img {
  height: 300px;
  width: auto;
  display: block;
  margin: 20px auto;
  border: 4px dashed yellow;
}

a {
  display: inline-block;
  border: 2px dashed black;
  color: #ff00ff;
  background-color: orange;
  width: 200px;
  line-height: 60px;
  font-size: 20px;
  padding: 30px 80px 30px 80px;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

p {
  padding: 2px;
  border: 2px dotted black;
}

ul {
  margin: auto;
}

li {
  display: block;
  margin: 32px auto;
  text-align: center;
}

h3 {
  text-align: center;
  border: 2px dashed white;
}
.header {
  text-align: center;
  background-color: black;
  border: 2px dotted white;
}
